/*GLOBAL*/

body {
  font-family: "Lato", sans-serif;
  background-color: #F2F2F2;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  color: inherit;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 20px;
}

h1,
h3,
h4 {
  font-family: "Montserrat", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/*HEADER*/

/*NAV*/

/*JUMBOTRON*/

/*MAIN*/

/*BANNER*/

.banner {
  padding: 50px 0;
}

.banner img {
  width: 100%;
}

/*FOOTER*/

.footer {
  background-color: black;
  height: 110px;
  padding-top: 40px;
}

.footer ul {
  list-style: none;
}

.footer ul li {
  display: inline;
}

.footer ul li a {
  font-size: 14px;
  margin-right: 40px;
}

.footer ul li a:hover {
  text-decoration: underline;
}

/*MEDIA QUERIES*/
