/*GLOBAL*/

body {
  font-family: "Lato", sans-serif;
  background-color: #F2F2F2;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  color: inherit;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 20px;
}

h1,
h3,
h4 {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}

h1 {
  font-size: 60px;
  max-width: 400px;
  margin-bottom: 25px;
}

h3 {
  font-size: 24px;
  margin-bottom: 40px;
}

h4 {
  font-size: 18px;
  margin-bottom: 20px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/*HEADER*/

/*NAV*/

/*JUMBOTRON*/

/*MAIN*/

.main .container {
  font-size: 0;
}

.main .column-news,
.main .column-events {
  display: inline-block;
  padding: 40px 40px;
}

.main .column-news {
  color: black;
  background-color: white;
  width: calc(100% - 350px);
}

.main .column-events {
  background-color: black;
  width: 350px;
}

.main p {
  font-size: 14px;
  margin-bottom: 10px;
}

.main a {
  border-color: inherit;
  border-bottom: 3px solid;
}

.main a:hover {
  border-color: #1A77FF;
}

/*BANNER*/

.banner {
  padding: 50px 0 45px;
}

.banner img {
  width: 100%;
}

/*FOOTER*/

.footer {
  background-color: black;
  height: 110px;
  padding-top: 40px;
}

.footer ul {
  list-style: none;
}

.footer ul li {
  display: inline;
}

.footer ul li a {
  font-size: 14px;
  margin-right: 40px;
}

.footer ul li a:hover {
  text-decoration: underline;
}

/*MEDIA QUERIES*/
