/*GLOBAL*/

body {
  font-family: "Lato", sans-serif;
  background-color: #F2F2F2;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-weight: 300;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  color: inherit;
  font-weight: inherit;
}

.container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 60px;
}

h1,
h3,
h4 {
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: 60px;
  max-width: 400px;
  margin-bottom: 25px;
}

h2 {
  font-size: 16px;
  margin-bottom: 20px;
}

h3 {
  font-size: 24px;
  margin-bottom: 40px;
}

h4 {
  font-size: 18px;
  margin-bottom: 20px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/*HEADER*/

.header {
  background-color: black;
  padding: 15px 0;
}

.header .logo {
  font-size: 0;
  display: block;
  float: left;
  width: 225px;
  height: 50px;
  background: url(https://s3.amazonaws.com/codecademy-content/projects/newsroom/logo.svg) no-repeat;
}

.header form {
  float: right;
  display: block;
  margin-top: 7px;
  padding: 0;
}

.header form input {
  width: 250px;
  font-size: 14px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid white;
  margin-right: 10px;
  padding: 5px 0px;
}

.header form button {
  font-size: 14px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid white;
  margin: 0;
  padding: 5px 10px;
}

.header form input:hover,
.header form button:hover {
  border-color: #1A77FF;
}

.header .container:after {
  /*Clear-fix*/
  content: "";
  display: block;
  clear: both;
}

/*NAV*/

.nav {
  background-color: #152230;
  font-size: 0; /*remove spaces between*/
}

.nav ul li {
  display: inline;
}

.nav ul li a {
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  display: inline-block;
  padding: 0 22px;
}

.nav ul li .active,
.nav ul li .active:hover{
  background-color: #1A77FF;
}

.nav ul li a:hover {
  background-color: #155cc3;
}

/*JUMBOTRON*/

.jumbotron {
  height: 500px;
  background: url(https://s3.amazonaws.com/codecademy-content/projects/newsroom/bass-bg.jpg) no-repeat center / cover;
  margin-bottom: 50px;
  padding-top: 40px;
}

.jumbotron p {
  font-size: 20px;
  max-width: 400px;
}

.jumbotron a {
  border-bottom: 5px solid;
}

.jumbotron a:hover {
  border-color: #1A77FF;
}

/*MAIN*/

.main .container {
  font-size: 0;
}

.main .column-news,
.main .column-events {
  display: inline-block;
  padding: 40px;
}

.main .column-news {
  color: black;
  background-color: white;
  width: calc(100% - 350px);
}

.main .column-events {
  background-color: #152230;
  width: 350px;
}

.main p {
  font-size: 14px;
  margin-bottom: 10px;
}

.main a {
  border-color: inherit;
  border-bottom: 3px solid;
}

.main a:hover {
  border-color: #1A77FF;
}

/*BANNER*/

.banner {
  padding: 50px 0;
}

.banner img {
  display: block;
  width: 100%;
}

/*FOOTER*/

.footer {
  background-color: black;
  height: 110px;
  padding-top: 40px;
}

.footer ul {
  list-style: none;
}

.footer ul li {
  display: inline;
}

.footer ul li a {
  font-size: 14px;
  margin-right: 40px;
}

.footer ul li a:hover {
  text-decoration: underline;
}

/*MEDIA QUERIES*/

@media (max-width: 1200px) {

  /*GLOBAL*/

  /*HEADER*/

  /*NAV*/

  .nav ul li a {
    padding: 0 20px;
  }

  /*JUMBOTRON*/

  /*MAIN*/

  /*BANNER*/

  /*FOOTER*/

}

@media (max-width: 920px) {

  /*GLOBAL*/

  .container {
    padding: 0 40px;
  }

  /*HEADER*/

  /*NAV*/

  .nav ul li a {
    padding: 0 12px;
  }

  /*JUMBOTRON*/

  /*MAIN*/

  .main .column-news,
  .main .column-events{
    display: block;
    width: 100%;
  }

  /*BANNER*/

  /*FOOTER*/

}

@media (max-width: 727px) {

  /*GLOBAL*/

  .container {
    padding: 0 30px;
  }

  h1 {
    max-width: 100%;
    text-align: center;
    font-size: 44px;
  }

  /*HEADER*/

  .header .logo {
    float: none;
    margin: 15px auto;
  }

  .header form {
    float: none;
    width: 330px;
    margin: 20px auto;
  }

  .header form input {
    text-align: center;
  }

  /*NAV*/

  .nav ul li a {
    display: inline-block;
    width: 25%;
    text-align: center;
  }

  /*JUMBOTRON*/

  .jumbotron {
    padding-top: 80px;
  }

  .jumbotron {
    text-align: center;
  }

  .jumbotron p {
    max-width: 100%;
  }

  /*MAIN*/

  /*BANNER*/

  /*FOOTER*/

}

@media (max-width: 500px) {

  /*GLOBAL*/

  .container {
    padding: 0 15px;
  }

  h1 {
    font-size: 36px;
  }

  /*HEADER*/

  /*NAV*/

  .nav ul li {
    display: block;
  }

  .nav ul li a {
    width: 100%;
  }

  /*JUMBOTRON*/

  .jumbotron {
    padding-top: 100px;
  }

  .jumbotron p {
    font-size: 19px;
  }

  /*MAIN*/

  /*BANNER*/

  /*FOOTER*/

}
